h2 {
    font-family: 'Arvo', Arial, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #2516F7;
}

h3 {
    font-family: 'Arvo', Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #2516F7;
}

p {
    font-family: 'Nunito Sans', times, sans-serif;
    font-size: 16px;
    color: #2516F7;
}

.hidden {
    display: none;
}

#container {
    width: 428px;
    border: solid 1px #707070;
    margin: 20px auto;
    background-image: linear-gradient(#FFD344, #FFAA00);
}

#about-qu3nch {

}